/* Navbar Component  */
.site-navbar{
  background-color: rgba(0, 0, 0, 0.85);
}

.site-navbar a{
  color: #999;
  font-weight: bold;
  text-transform: uppercase;
}
.site-navbar a:hover{
  color: white;
}
.site-navbar .active{
  color: white;
}
.nav-search {
  width: 20vw;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  border: 3px solid rgb(165, 163, 163);
  outline: none;
}

.nav-search:focus {
  border: 3px solid rgb(165, 163, 163);
  animation: border-gradient 4s ease-in-out infinite both;
}
.nav-search:focus + .search-btn{
  border-width: 2px;
  animation: border-gradient 4s ease-in-out infinite both;
}
.search-btn{
  background-color: #999;
  border: 2px solid rgb(165, 163, 163);
  color: white;
  border-radius: 0px 5px 5px 0px;
}
.search-btn:hover{
  color: black;
  background-color: white;
}
.site-navbar .navbar-toggler{
  color: white;
}
.site-navbar .nav-wishlist{
  color: #999;
}
.site-navbar .nav-wishlist:hover{
  color: red;
}
.site-navbar .nav-cart{
  color: #999;
}
.site-navbar .nav-cart:hover{
  color: steelblue;
}
@keyframes border-gradient{
  0% {border-color: rgb(83, 82, 82);}
  25% {border-color: #1abc9c;}
  50% {border-color: #16a085;}
  75% {border-color: #1efeff;}
  100% {border-color: seagreen;}
}
@keyframes button-opacity{
  from {opacity: 0;}
  to {opacity: 1;}
}