/* Navbar Component  */
/* Primary Color #1da1f2 and Secondary #349545 */

.site-navbar a{
  color: #349545;
  font-weight: bold;
  text-transform: uppercase;
}
.site-navbar a:hover{
  color: #1da1f2;
}
.site-navbar .active{
  color: #1da1f2;
}
.nav-search {
  width: 20vw;
  padding: 5px;
  background-color: #e6ecf0;
  border-radius: 5px 0px 0px 5px;
  border: 3px solid #349545;
  outline: none;
}

.nav-search:focus {
  border: 3px solid rgb(165, 163, 163);
  animation: border-gradient 4s ease-in-out infinite both;
}
.nav-search:focus + .search-btn{
  border-width: 2px;
  animation: border-gradient 4s ease-in-out infinite both;
}
.search-btn{
  background-color: #349545;
  border: 2px solid #349545;
  color: white;
  border-radius: 0px 5px 5px 0px;
}
.search-btn:hover{
  color: #1da1f2;
  background-color: white;
}
.site-navbar .navbar-toggler{
  color: #1da1f2;
}
.site-navbar .nav-wishlist:hover{
  color: red;
}
.site-navbar .nav-cart:hover{
  color: #1da1f2;
}
.site-navbar i sup{
  font-size: large;
}
.site-navbar .sign-out{
  color: #349545;
}
.site-navbar .sign-out:hover{
  color: #1da1f2;
}

@keyframes border-gradient{
  0% {border-color: rgb(83, 82, 82);}
  25% {border-color: #1abc9c;}
  50% {border-color: #16a085;}
  75% {border-color: #1efeff;}
  100% {border-color: seagreen;}
}
@keyframes button-opacity{
  from {opacity: 0;}
  to {opacity: 1;}
}