.about-us .community {
    background-image: url('../../../assets/community.jpg'),linear-gradient(90deg, red,yellow);
    background-position: 0% 40%;
    background-size: cover;
    background-blend-mode: multiply;
    color: wheat;
    font-weight: bolder;
}
.about-us .mission {
    background-image: url('../../../assets/mission.jpg'),linear-gradient(90deg, rgba(255, 3, 3,1),rgba(255, 3, 3,0.8),yellow);
    background-position: 0% 40%;
    background-size: cover;
    background-blend-mode: darken;
    color: wheat;
    font-weight: bolder;
}
.about-us .customers {
    background-image: url('../../../assets/customers.jpg'),linear-gradient(90deg, rgba(255, 3, 3,1),rgba(255, 3, 3,0.8),yellow);
    background-position: 0% 40%;
    background-size: cover;
    background-blend-mode: darken;
    color: wheat;
    font-weight: bolder;
}
.about-our-shop .shop{
    background-image: url("../../../assets/shop.jpg"),linear-gradient(90deg, rgba(255, 3, 3,1),rgba(255, 3, 3,0.8),yellow);
    background-size: cover;
    background-position: 0% 30%;
    background-blend-mode: multiply;
    color: wheat;
}
.our-services .service{
    background-image: url("../../../assets/service.jpg"),
    linear-gradient(90deg, rgba(255, 3, 3,1),rgba(255, 3, 3,0.8),yellow);
    background-size: cover;
    background-position: 0% 20%;
    padding: 150px;
    background-blend-mode: multiply;
    color: wheat;
}