#nav-header-top{
    font-size: 1rem;
}
.header-top-left{
    padding-top: 10px;
}
.left-header{
    margin-left: auto;
}
.right-header{
    margin-left: auto;
}
.header-top-left ul{
    list-style: none;
    display: inline-block;
    margin-right: auto;
}
.header-top-left ul li{
    display: inline-block;
    margin: 0 10px;
}
.headerTopRight{
    padding-top: 10px;
}
.headerTopRight ul{
    list-style: none;
}
.headerTopRight ul li{
    display: inline-block;
    margin: 0 5px;
}
.dividerRight{
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: 2rem;
    vertical-align: middle;
}
.flagimage{
    vertical-align: baseline;
}
.headerTopRight ul li:hover{
    color: #16a085;
}