/* Website Scheme Color #16a085 and a bit light #1abc9c */

/* Navbar Component  */
#nav{
  border-radius: 10px;
  border-bottom: 5px solid steelblue;
  border-left: 5px solid steelblue;
  border-right: 5px solid steelblue;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
#nav .nav-item{
  font-weight: bold;
  margin: 10px;
}
#nav .nav-item .nav-link:hover{
  color: #16a085;
}
.active{
  color: #1abc9c !important;
}

/* Footer Component  */
#footer-header{
  margin: 10px;
  
}
#footer-header h3{
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  background-color: #16a085;
}
.fruity-btn{
  background-color: #16a085;
  padding: 5px;
  border-radius: 5px;
  color: white;
  border: 1px solid green;
}
.fruity-btn:hover{
  background-color: white;
  color: #1abc9c;
}
.social-link{
  background-color: #16a085;
  color: white;
  display: inline-block;
  border-radius: 50%;
  padding: 15px;
  border: 2px solid silver;
  cursor: pointer;
}
.social-link:hover{
  background-color: white;
  color: #16a085;
}

/* Sidebar Component  */
#sidebar{
  position: relative;
  top: 2%;
}
.sidebar-cat-header h4{
  padding: 5px;
  background-color: #16a085;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.sidebar-nav ul{
  list-style: none;
  padding: 0;
}
.sidebar-nav ul li{
  padding: 10px;
  background-color: #cfd0d1;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  margin: 15px;
  display: block;
  text-align: center;
  cursor: pointer;
}
.sidebar-nav ul li:hover{
  background-color: #1abc9c;
  color: white;
}

/* Product Section Component  */
#product-section .jumbotron{
  background: url('./assets//productsection/apple-highlight.jpg') 50% 70%/cover;
}

